*, *::before, *::after {
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

:root {
    --hue-neutral: 289;
    --hue-wrong: 0;
    --hue-correct: 145;
}

header{
    display:flex;
    justify-content: center;
}

.timer-container{
    display: flex;
    /* justify-content: center;
    padding-bottom: 250px;
    padding-left: 250px; */
}

#timer {
    position: absolute;
    left:50px;
    top: 10px;
    font-size: 25px;
    font-weight: bold;

}

#highscore{
    position: absolute;
    right: 50px;
    top: 10px;
}

body {
    padding-top: 25%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-color: tan
}

.container {
    width: 800px;
    max-width: 75%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items:  center;
}

.hide {
    display: none;
}


